<ion-content padding>

  <form #form="ngForm" (submit)="login(form)">

    <ion-list>

        <ion-item>
            <ion-label stacked>E-mail</ion-label>
            <ion-input type="email" name="email" ngModel></ion-input>
        </ion-item>

        <ion-item>
          <ion-label stacked>Senha</ion-label>
          <ion-input type="password" name="senha" ngModel></ion-input>
        </ion-item>

    </ion-list>

    <button ion-button block color="primary">Entrar</button>
    <button ion-button block outline
      color="primary" type="button" (click)="registrar()">
      Registrar
    </button>
    <button ion-button block clear
      color="primary" type="button" (click)="recuperar()">
      Recuperar Senha
    </button>

  </form>

</ion-content>
