<ion-header>

  <ion-navbar color="primary">
    <ion-title>Contatos de {{nome}}</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="sair()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>

    <ion-item-sliding *ngFor="let contato of contatos | async">

      <ion-item>
        <ion-avatar item-start>
          <img src="/assets/imgs/logo.png"/>
        </ion-avatar>
        <h2>{{contato.nome}}</h2>
        <p>{{contato.email}}</p>
      </ion-item>

      <ion-item-options>
        <button ion-button color="danger" (click)="apagar(contato.id)">
          <ion-icon name="trash"></ion-icon>
          Apagar
        </button>
        <button ion-button color="primary" (click)="editar(contato.id)">
          <ion-icon name="edit"></ion-icon>
          Editar
        </button>
      </ion-item-options>

    </ion-item-sliding>


  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="adicionar()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
