<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edita Usuário</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form #form="ngForm" (submit)="salvar(form)">
    <ion-list>
        <ion-item>
            <ion-label stacked>Nome</ion-label>
            <ion-input type="text" name="nome" [(ngModel)]="nome"></ion-input>
        </ion-item>
    </ion-list>
    <button ion-button block color="primary">Salvar</button>
  </form>
</ion-content>
